<div class="map-overlay <%= locals.className %>"<%- locals.style ? ` style="${locals.style}"` : '' %>>
	<div class="map-overlay--time-indicator active">
		<div class="map-overlay--time-indicator-date">дд.мм.гггг</div>
		<div class="map-overlay--time-indicator-time">00:00:00</div>
	</div>
	<div class="map-overlay--search">
		<div class="map-overlay--search-box">
			<div class="map-overlay--search">
				<input type="text" placeholder="Начните поиск">
				<%- include('../../icons/search.svg') %>
			</div>
		</div>

		<div class="map-overlay--search-results">
			<div class="map-overlay--search-block map-overlay--search-companies ">
				<div class="map-overlay--search-title">
					<span>Круизные компании</span>
					<%- include('../../icons/expand.svg') %>
				</div>
				<div class="map-overlay--search-select" id="companyAllSelect">Выбрать всё</div>
				<div class="map-overlay--search-overflow">
					<div class="map-overlay--search-checks"></div>
				</div>
			</div>
			<div class="map-overlay--search-block map-overlay--search-ships ">
				<div class="map-overlay--search-title">
					<span>Теплоходы</span>
					<%- include('../../icons/expand.svg') %>
				</div>
				<div class="map-overlay--search-select" id="shipsAllSelect">Выбрать всё</div>
				<div class="map-overlay--search-overflow">
					<div class="map-overlay--search-checks"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="map-overlay--buttons-wrapper">
		<div class="map-overlay--menu map-overlay--btn map-overlay--toggle-btn active">
			<div class="toggle map-overlay--btn-primary-fill"><%- include('../../icons/arrow.svg') %></div>
			<div class="open map-overlay--btn-primary-stroke"><%- include('../../icons/menu.svg') %></div>
			<div class="close map-overlay--btn-primary-stroke"><%- include('../../icons/close.svg') %></div>
		</div>
		<div class="map-overlay--buttons-content">
			<div class="map-overlay--ship map-overlay--btn map-overlay--btn-primary-fill">
				<%- include('../../icons/liner.svg') %>
				<span class="map-overlay--button-text">теплоходы</span>
			</div>
			<div class="map-overlay--gateways map-overlay--btn map-overlay--btn-primary-fill">
				<%- include('../../icons/gatewayBtn.svg') %>
				<span class="map-overlay--button-text">шлюзы</span>
			</div>
			<div class="map-overlay--place map-overlay--btn map-overlay--btn-primary-stroke">
				<%- include('../../icons/showplace.svg') %>
				<span class="map-overlay--button-text">места</span>
			</div>
			<div class="map-overlay--anchor map-overlay--btn map-overlay--btn-primary-fill">
				<%- include('../../icons/stop.svg') %>
				<span class="map-overlay--button-text">стоянки</span>
			</div>
			<div class="map-overlay--sunrise map-overlay--btn map-overlay--btn-primary-stroke">
				<%- include('../../icons/sunriseBtn.svg') %>
				<span class="map-overlay--button-text">восходы</span>
			</div>
			<div class="map-overlay--sunset map-overlay--btn map-overlay--btn-primary-stroke">
				<%- include('../../icons/sunsetBtn.svg') %>
				<span class="map-overlay--button-text">закаты</span>
			</div>
		</div>
		<div style="display: none">
			<input type="checkbox" name="over" id="ship-layer-checkbox" class="map-overlay--layers-checkbox" checked>
			<input type="checkbox" name="over" id="stops-layer-checkbox" class="map-overlay--layers-checkbox" checked>
			<input type="checkbox" name="over" id="sights-layer-checkbox" class="map-overlay--layers-checkbox">
			<input type="checkbox" name="over" id="sunrises-layer-checkbox" class="map-overlay--layers-checkbox">
			<input type="checkbox" name="over" id="sunsets-layer-checkbox" class="map-overlay--layers-checkbox">
			<input type="checkbox" name="over" id="gateways-layer-checkbox" class="map-overlay--layers-checkbox">
		</div>
	</div>
	<!--div class="map-overlay--menu map-overlay--btn map-overlay--toggle-btn map-overlay--btn-primary-stroke">
		<div class="open"><%- include('../../icons/menu.svg') %></div>
		<div class="close"><%- include('../../icons/close.svg') %></div>
	</div-->

	<div class="map-overlay--time map-overlay--btn map-overlay--btn-primary-fill">
		<%- include('../../icons/clock.svg') %>
	</div>
	<div class="map-overlay--line map-overlay--btn map-overlay--btn-primary-stroke">
		<%- include('../../icons/ruler.svg') %>
	</div>
	<div class="map-overlay--copy map-overlay--btn map-overlay--toggle-btn map-overlay--btn-primary-stroke">
		<%- include('../../icons/layers.svg') %>
	</div>
	<div class="map-overlay--overlays">
		<div class="map-overlay--overlays-box">
			<input type="radio" name="over" id="over1" class="custom-radio" checked="">
			<label for="over1">OpenStreetMap</label>
			<input type="radio" name="over" id="over2" class="custom-radio">
			<label for="over2">Яндекс</label>
			<input type="radio" name="over" id="over3" class="custom-radio">
			<label for="over3">Яндекс. Спутник</label>
		</div>
	</div>
	<div class="map-overlay--ships-wrapper">
		<span class="map-overlay--ships-text">
			Теплоходов не в круизе:
		</span>
		<span class="map-overlay--ships-count">000</span>
	</div>

	<div class="map-overlay--range-dates">
		<div class="range--deco range--deco-left">-</div>
		<div class="range--deco range--deco-right">-</div>
		<div class="rs-container sliding">
			<div class="rs-bg"></div>
			<div class="rs-pointer">
				<%- include('../../icons/liner.svg') %>
					<div class="rs-tooltip">-</div>
			</div>
			<div class="rs-left-bg"></div>
		</div>
	</div>

	<div class="map-overlay--zoom-block">
		<div class="map-overlay--zoom-block-button map-overlay--zoom-block-button-plus">
			<%- include('../../icons/plus-circle.svg') %>
		</div>
		<div class="map-overlay--zoom-block-button map-overlay--zoom-block-button-minus">
			<%- include('../../icons/minus-circle.svg') %>
		</div>
		<div class="map-overlay--zoom-block-button map-overlay--zoom-block-button-reset">
			<%- include('../../icons/my-location.svg') %>
		</div>
	</div>

</div>
